.Combinations__Wrapper {
  background-color: #e9e8e8;
  width: 217px;
  height: 410px;
  position: absolute;
  left: 375px;
  top: 248px;
  overflow-y: auto;
}

.Recipe_Name {
  padding: 0.1rem;
}

.sadFridgeImg {
  right: 89px;
  height: 410px;
  top: 237px;
  position: absolute;
}
