.Combinations__Wrapper {
    background-color: #E9E8E8;
    width: 217px;
    height: 410px;
    position: absolute; 
    left: 375px;
    top: 248px;
    overflow-y: scroll;
}

.Recipe_Name {
    padding: 0.1rem;
}