@import "./styles/Components.css";
@import "./styles/Header.css";
@import "./styles/AddIngredients.css";

.App {
  background-color: #faf6f0;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
